*.idea/
HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
build/
*.class
*.jar
*.war
*.ear
*.log
*.env
*.sql
.mvn/
!/.mvn/wrapper/maven-wrapper.jar


.default_images/
.uploads/
.brand_logos/
.category_images/
.product_images/
.user_photos/



.idea
*.iws
*.iml
*.ipr


.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db